<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Harold Nocos">
    <meta name="description" content="The Wall is a fun place to keep up: with what's going on around places, with your friends and acquaintances, with interesting stories, and thoughts of yourself and the community.">
    <title>The Wall | Timeline Page</title>
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/timeline.css">
    <script src="../assets/js/timeline.js"></script>
</head>
<body>
    <nav>
        <a href="index.html" id="the_wall_logo"><img src="../assets/images/the_wall_small_logo.svg" alt="The Wall Logo"></a>
        <span class="flex_space"></span>
        <span id="profile_name">Harold Nocos</span>
        <a href="index.html" id="log_out_btn">Log out</a>
    </nav>
    <main>
        <div class="greet_container">
            <h1>Hello Harold,
                <span>Welcome to V88 Forum Dashboard</span>
            </h1>
        </div>
        <div class="post_container">
            <form action="./timeline.html" method="post" id="post_form" class="post_form_wrapper">
                <textarea name="post_text_field" id="post_text_field" class="post_text_field" placeholder="Post your Topic..."></textarea>
                <button type="submit" class="post_btn">Post</button>
            </form>
        </div>
        <div id="timeline" class="forum_container">
            <p class="title">Recent Forums</p>
            <div id="no_post">
                <p>No post yet.</p>
            </div>
            <div class="topic_container hidden">
                <p class="topic_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint facilis consequuntur a animi porro totam aliquam inventore illum aut nihil.</p>
                <div class="topic_details">
                    <div class="response_info">
                        <span class="response_details">Harold Nocos (few seconds ago)</span>
                        <span class="response_count">0 Responses</span>
                    </div>
                    <div class="topic_controls">
                        <button type="button" class="edit_btn"></button>
                        <div class="delete_btn_container">
                            <button type="button" class="delete_btn"></button>
                            <p class="confirm_text">Confirm Delete? <button type="button" class="confirm_btn no_btn">No</button><button type="button" class="confirm_btn yes_btn">Yes</button></p>
                        </div>
                    </div>
                </div>
                <div class="topic_form_container edit">
                    <form action="./timeline.html" method="post" class="topic_form_wrapper edit hidden">
                        <textarea name="edit_topic_text_field" class="topic_text_field edit">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima non fugiat dolor, sit commodi voluptatem at ea dolorum dignissimos illo.</textarea>
                        <button type="submit" class="save_btn">Save</button>
                    </form>
                </div>
                <div class="topic_reply_container hidden">
                    <p class="topic_text reply">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias maiores architecto obcaecati vitae placeat blanditiis exercitationem voluptates quas esse.</p>
                    <div class="topic_details reply">
                        <div class="response_info">
                            <span class="response_details">Harold Nocos (few seconds ago)</span>
                            <span class="response_count">0 Responses</span>
                        </div>
                        <div class="topic_controls">
                            <button type="button" class="edit_reply_btn"></button>
                            <div class="delete_btn_container">
                                <button type="button" class="delete_btn"></button>
                                <p class="confirm_text">Confirm Delete? <button type="button" class="confirm_btn no_btn">No</button><button type="button" class="confirm_btn yes_btn">Yes</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="topic_form_container edit_reply">
                        <form action="./timeline.html" class="topic_form_wrapper edit hidden" method="post">
                            <textarea name="edit_topic_text_field" id="edit_topic_text_field" class="topic_text_field edit">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta debitis officia voluptatibus nesciunt saepe eius explicabo voluptatum laborum commodi, nulla ex dolor veritatis praesentium quos incidunt quidem dolorum pariatur ipsum!</textarea>
                            <button type="submit" class="save_btn">Save</button>
                        </form>
                    </div>
                </div>
                <div class="topic_comment_container"></div>
                <div class="topic_form_container reply">
                    <form action="./timeline.html" class="topic_form_wrapper" method="post">
                        <textarea name="topic_text_field" class="topic_text_field"></textarea>
                        <button type="submit" class="comment_btn">Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>